@scope (.ravenlog_heading1) {
  :scope {
    margin: 22px 0;
    font-size: 22pt;
    font-weight: 500;
    color: #222;
  }
}

@scope (.ravenlog_heading2) {
  :scope {
    margin: 22px 0;
    font-size: 20pt;
    font-weight: 500;
    color: #222;
  }
}

@scope (.ravenlog_heading3) {
  :scope {
    margin: 18px 0;
    font-size: 18pt;
    font-weight: 500;
    color: #222;
  }
}

@scope (.ravenlog_heading4) {
  :scope {
    margin: 18px 0;
    font-size: 16pt;
    font-weight: 500;
    color: #222;
  }
}

@scope (.ravenlog_heading5) {
  :scope {
    margin: 14px 0;
    font-size: 14pt;
    font-weight: 500;
    color: #222;
  }
}

@scope (.ravenlog_heading6) {
  :scope {
    margin: 14px 0;
    font-size: 12pt;
    font-weight: 500;
    color: #222;
  }
}
